<div class="form-card animate-slide-up">
  <div class="form-header">
    <h3>📝 Inscripción de Equipo</h3>
    <p>Completa los datos para participar</p>
  </div>

  <form (ngSubmit)="sendEnrollment()">
    <div class="input-group">
      <label>Nombre del Equipo</label>
      <input type="text" [(ngModel)]="enrollmentData.nombreEquipo" name="team" placeholder="Ej: Los Galácticos FC" required>
    </div>

    <div class="input-group">
      <label>Representante / Capitán</label>
      <input type="text" [(ngModel)]="enrollmentData.representante" name="rep" placeholder="Nombre completo" required>
    </div>

    <div class="input-group">
      <label>WhatsApp / Contacto</label>
      <input type="text" [(ngModel)]="enrollmentData.contacto" name="tel" placeholder="+593 ..." required>
    </div>

    <button type="submit" class="btn-submit">ENVIAR SOLICITUD ⚽</button>
  </form>
</div>