$neon-green: #2ecc71;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 70px;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;

  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    
    .pro { color: $neon-green; text-shadow: 0 0 10px $neon-green; }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: rgba(255,255,255,0.7);
      font-weight: 500;
      transition: 0.3s;
      padding: 5px 10px;
      border-radius: 8px;

      &:hover, &.active {
        color: white;
        background: rgba($neon-green, 0.1);
        text-shadow: 0 0 8px $neon-green;
      }
    }
  }

.nav-user {
  font-size: 1rem;
  color: #2ecc71; // Verde neón
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;

  .status-online {
    width: 10px;
    height: 10px;
    background: #2ecc71;
    border-radius: 50%;
    box-shadow: 0 0 12px #2ecc71;
  }
}
}