<nav class="navbar">
  <div class="nav-logo">
    <span class="ball">⚽</span>
    <span class="text">SOCIAL<span class="pro">SOCCER</span></span>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/admin/tournaments" routerLinkActive="active">🏆 Torneos</a></li>
    <li><a routerLink="/admin/enrollments" routerLinkActive="active">📝 Inscripciones</a></li>
    <li><a routerLink="/dashboard" routerLinkActive="active">📊 Dashboard</a></li>
  </ul>

  <div class="nav-user">
    <span class="status-online"></span> Admin Mode
  </div>
</nav>