/* You can add global styles to this file, and also import other style files */
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-in-out;
}

.animate-slide-up {
  animation: slide-up 0.6s ease-in-out;
}