<div class="max-w-xl mx-auto p-6 animate-slide-up">
  <h2 class="text-2xl font-bold text-center mb-6 text-green-600">
    Crear / Editar Equipo
  </h2>

  <mat-card>
    <mat-card-content class="space-y-4">

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Escudo (URL)</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Descripción</mat-label>
        <textarea matInput rows="3"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Capitán</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-checkbox>
        Equipo verificado
      </mat-checkbox>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary">
        Guardar
      </button>
      <button mat-button color="warn">
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>