<div class="table-container">
  <table class="neon-table">
    <thead>
      <tr>
        <th>Posición</th>
        <th>Equipo</th>
        <th>Partidos Jugados</th>
        <th>P.Ganados</th>
        <th>P.Empatados</th>
        <th>P.Perdidos</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="approvedTeams().length === 0">
        <td colspan="7" class="no-data">Esperando equipos aprobados...</td>
      </tr>

      <tr *ngFor="let team of approvedTeams(); let i = index">
        <td>{{ i + 1 }}</td>
        <td class="team-name">🛡️ {{ team.nombreEquipo }}</td>
        <td>0</td> <td>0</td>
        <td>0</td>
        <td>0</td>
        <td class="pts-column">0</td>
      </tr>
    </tbody>
  </table>
</div>